[{:db/id #db/id[:db.part/db]
  :db/ident :game/board
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A game's state"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :game/ts
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Timestamp of the game"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :game/next-player
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Player who should move next"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :game/second-player
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Player who should go after next-player"
  :db.install/_attribute :db.part/db}]
